@model List<ResultInBoxMessageDto>

<div class="dropdown d-inline-block">
    <button type="button" class="btn header-item noti-icon waves-effect waves-light" id="page-header-notifications-dropdown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="mdi mdi-bell"></i>
        <span class="badge badge-danger badge-pill">@Model.Count()</span>
    </button>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
         aria-labelledby="page-header-notifications-dropdown">
        <div class="p-3">
            <div class="row align-items-center">
                <div class="col">
                    <h6 class="m-0"> Bildirimler </h6>
                </div>
                <div class="col-auto">
                    <a href="#!" class="small"> Tümünü Gör</a>
                </div>
            </div>
        </div>
        <div data-simplebar style="max-height: 230px;">
            @foreach(var item in Model)
            {

                string gunsuresi;
                TimeSpan gunfarkı;
                gunfarkı = DateTime.Parse(DateTime.Now.ToString()) - DateTime.Parse(item.SendDate.ToString());
                if (gunfarkı.Days < 30)
                {
                    if (gunfarkı.Days < 1)
                    {
                        if (gunfarkı.Hours < 1)
                        {
                            gunsuresi = gunfarkı.Minutes + " dakika önce";
                        }
                        else
                        {
                            gunsuresi = gunfarkı.Hours + " saat önce";
                        }
                    }
                    else
                    {
                        gunsuresi = gunfarkı.Days + " gün önce";
                    }
                }
                else
                {
                    int fark = gunfarkı.Days / 30;
                    gunsuresi = fark.ToString() + " ay önce";
                }

                <a href="" class="text-reset notification-item">
                    <div class="media">
                        <img src="@item.Image"
                             class="mr-3 rounded-circle avatar-xs" alt="user-pic">
                        <div class="media-body">
                            <h6 class="mt-0 mb-1">@item.Name @item.Surname</h6>
                            <p class="font-size-12 mb-1">@item.Subject</p>
                            <p class="font-size-12 mb-0 text-muted"><i class="mdi mdi-clock-outline"></i> @gunsuresi</p>
                        </div>
                    </div>
                </a>
            }
        </div>
        <div class="p-2 border-top">
            <a class="btn btn-sm btn-light btn-block text-center" href="javascript:void(0)">
                <i class="mdi mdi-arrow-down-circle mr-1"></i> Load More..
            </a>
        </div>
    </div>
</div>