@model GetProductByProductIdDto

@{
    ViewData["Title"] = "ProperySingle";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";

    string gunsuresi;
    TimeSpan gunfarkı;
    gunfarkı = DateTime.Parse(DateTime.Now.ToString()) - DateTime.Parse(Model.CreateDate.ToString());
    if (gunfarkı.Days < 30)
    {
        if (gunfarkı.Days < 1)
        {
            if (gunfarkı.Hours < 1)
            {
                gunsuresi = gunfarkı.Minutes + " dakika önce";
            }
            else
            {
                gunsuresi = gunfarkı.Hours + " saat önce";
            }
        }
        else
        {
            gunsuresi = gunfarkı.Days + " gün önce";
        }
    }
    else
    {
        int fark = gunfarkı.Days / 30;
        gunsuresi = fark.ToString() + " ay önce";
    }

}



<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/Default/Index">Ana Sayfa</a></li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> İlanlar</li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> İlan Detayı</li>
        </ul>
    </div>
</section>

<section class="w3l-blog post-content py-5">
    <div class="container py-lg-4 py-md-3 py-2">
        <div class="inner mb-4">
            <ul class="blog-single-author-date align-items-center">
                <li>
                    <div class="listing-category"><span>@Html.DisplayFor(x => x.ProductType)</span><span>@Html.DisplayFor(x => x.CategoryName)</span></div>
                </li>
                <li><span class="fa fa-clock-o"></span> @gunsuresi</li>
                <li><span class="fa fa-eye"></span> 250 views</li>
            </ul>
        </div>
        <div class="post-content">
            <h2 class="title-single"> @Html.DisplayFor(x => x.ProductTitle)</h2>
        </div>
        <div class="blo-singl mb-4">
            <ul class="blog-single-author-date align-items-center">
                <li>
                    <p>@Html.DisplayFor(x => x.ProductAdress)</p>
                </li>
                <li><span class="fa fa-bed"></span> @Html.DisplayFor(x => x.BedRoomCount) Yatak Odası</li>
                <li><span class="fa fa-bath"></span> @Html.DisplayFor(x => x.BathCount) Banyo</li>
                <li><span class="fa fa-share-square-o"></span> @Html.DisplayFor(x => x.ProductSize) m<sup>2</sup></li>
            </ul>
            <ul class="share-post">
                <a href="#url" class="cost-estate m-o">@Model.ProductPrice.ToString("C")</a>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-8 w3l-news">
                <div class="blog-single-post">
                    @await Component.InvokeAsync("_PropertySliderComponentPartial", new { id = ViewBag.Id })

                    <div class="single-post-content">
                        <h3 class="post-content-title mb-3">Açıklama</h3>
                        <p class="mb-4">
                           @Html.DisplayFor(x=>x.ProductDescription)
                        </p>
                       
                        <div class="single-bg-white">
                            <h3 class="post-content-title mb-4">İlan Detayları</h3>
                            <ul class="details-list">
                                <li><strong>İlan id :</strong> @Html.DisplayFor(x=>x.ProductId) </li>
                                <li><strong>İlan m<sup>2</sup>'si :</strong> @Html.DisplayFor(x=>x.ProductSize) m<sup>2</sup> </li>
                                <li><strong>Oda Sayısı :</strong> @Html.DisplayFor(x => x.RoomCount) </li>
                                <li><strong>Yatak Odası :</strong> @Html.DisplayFor(x=>x.BedRoomCount) </li>
                                <li><strong>Banyo Sayısı :</strong> @Html.DisplayFor(x=>x.BathCount) </li>
                                <li><strong>Exterior material :</strong> Brick </li>
                                <li><strong>Yapı Türü :</strong> Beton </li>
                                <li><strong>Garaj Büyüklüğü :</strong> @Html.DisplayFor(x => x.GarageSize) m<sup>2</sup></li>
                                <li><strong>Garaj Sayısı :</strong> 15 </li>
                                <li><strong>İlan Fiyatı :</strong> @Model.ProductPrice.ToString("C") </li>
                                <li><strong>Yapım Yılı :</strong> @Html.DisplayFor(x => x.BuildYear) </li>
                                <li><strong>İlan Tarihi :</strong> @(((DateTime)Model.CreateDate).ToString("dd MMMM yyyy")) </li>
                            </ul>
                        </div>
                        <div class="single-bg-white">
                            <h3 class="post-content-title mb-4">Amenities</h3>
                            <ul class="details-list">
                                <li><strong>Air Conditioning </strong></li>
                                <li><strong>Buil-In Wardrobes </strong> </li>
                                <li><strong>Dishwasher</strong> </li>
                                <li><strong>Floor Coverings </strong> </li>
                                <li><strong>Medical / Clinic </strong> </li>
                                <li><strong>Fencing</strong> </li>
                                <li><strong>Internet and wifi </strong> </li>
                            </ul>
                        </div>
                    </div>

                    <div class="single-bg-white">
                        <h3 class="post-content-title mb-4">Location</h3>
                        <div class="agent-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2895687731!2d-74.26055986835598!3d40.697668402590374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1562582305883!5m2!1sen!2sin"
                                    frameborder="0" style="border:0" allowfullscreen=""></iframe>
                        </div>
                    </div>

                    <div class="single-bg-white mb-0">
                        <h3 class="post-content-title mb-4">Video</h3>
                        <div class="post-content">
                            <iframe src="https://www.youtube.com/embed/jqP3m3ElcxA" frameborder="0"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12 mt-lg-0 mt-5">
                <aside class="sidebar">

                    <!-- Popular Post Widget-->
                    <div class="sidebar-widget popular-posts">
                        <div class="sidebar-title">
                            <h4>Emlakçını İletişim Bilgisi</h4>
                        </div>

                        <article class="post">
                            <figure class="post-thumb">
                                <img src="@Html.DisplayFor(x=>x.Image)" class="radius-image" alt="">
                            </figure>
                            <div class="text mb-0">
                                <a href="#blog-single">
                                    @Html.DisplayFor(x => x.Name) @Html.DisplayFor(x => x.Surname)
                                </a>
                                <div class="post-info">+(90) @Html.DisplayFor(x => x.PhoneNumber)</div>
                                <div class="post-info">@Html.DisplayFor(x => x.Email)</div>
                            </div>
                        </article>
                        <button type="submit" class="btn btn-primary btn-style w-100">Request details</button>
                    </div>


                    <!-- Popular Post Widget-->
                    <div class="sidebar-widget popular-posts">
                        <div class="sidebar-title">
                            <h4>Emlakçının Son İlanları</h4>
                        </div>

                        <article class="post">
                            <figure class="post-thumb">
                                <img src="~/starter/assets/images/l1.jpg" class="radius-image" alt="">
                            </figure>
                            <div class="text">
                                <a href="#blog-single">
                                    Why we are the best in the business
                                </a>
                                <div class="post-info">Sep 09, 2020 - 2 comments</div>
                            </div>
                        </article>

                        <article class="post">
                            <figure class="post-thumb">
                                <img src="~/starter/assets/images/l2.jpg" class="radius-image" alt="">
                            </figure>
                            <div class="text">
                                <a href="#blog-single">
                                    Build your next landing page.
                                </a>
                                <div class="post-info">Sep 09, 2020 - 2 comments</div>
                            </div>
                        </article>

                        <article class="post">
                            <figure class="post-thumb">
                                <img src="~/starter/assets/images/l3.jpg" class="radius-image" alt="">
                            </figure>
                            <div class="text">
                                <a href="#blog-single">
                                    Simply the best. Better than the rest.
                                </a>
                                <div class="post-info">Sep 10, 2020 - 2 comments</div>
                            </div>
                        </article>

                    </div>

                </aside>
            </div>
        </div>
    </div>
</section>

